<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>ApolloDasServlet</servlet-name>
    <servlet-class>org.bbop.apollo.trellis.TrellisApolloServlet</servlet-class>
    <init-param>
      <param-name>sources_plugin_class</param-name>
      <param-value>genomancer.ucsc.das2.server.UcscSourcesPlugin</param-value>
    </init-param>

    <!-- Sources URL for running Trellis on localhost (accessing local or remote MySQL server) -->
    <init-param>
      <param-name>sources_query</param-name>
      <param-value>http://localhost:8080/jbrowse/das2/ucsc/sources</param-value> 
    </init-param>

    <!-- Sources URL for running Trellis on Elastic Beanstalk (accessing UCSC public MySQL server) -->
<!--      
    <init-param>
      <param-name>sources_query</param-name>
      <param-value>http://genomancer.elasticbeanstalk.com/das2/ucsc/sources</param-value> 
    </init-param>
-->

    <!-- run local MySQL server  -->
    <init-param>
      <param-name>dbhost</param-name>
      <param-value>localhost:3306</param-value>
    </init-param>
    
    <!-- use remote UCSC public MySQL server   -->     
    <!--
    <init-param>
      <param-name>dbhost</param-name>
      <param-value>genome-mysql.cse.ucsc.edu</param-value>
    </init-param>
    -->
    <init-param>
      <param-name>dbuser</param-name>
      <param-value>genomep</param-value>
    </init-param>
    <init-param>
      <param-name>dbpassword</param-name>
      <param-value>password</param-value>
    </init-param>
    <!--
	<init-param>
	<param-name>renewal_rate_minutes</param-name>
	<param-value>1440</param-value>
	</init-param>
    -->
  </servlet>
  <servlet-mapping>
    <servlet-name>ApolloDasServlet</servlet-name>
    <url-pattern>/das2/ucsc/*</url-pattern>
  </servlet-mapping>
  <!--
      <servlet>
      <servlet-name>EnsemblDasProxy</servlet-name>
      <servlet-class>genomancer.trellis.das2.server.TrellisDas2Servlet</servlet-class>
      <init-param>
      <param-name>sources_plugin_class</param-name>
      <param-value>genomancer.ivy.das2.proxy.Das1ProxySourcesPlugin</param-value>
      </init-param>
      <init-param>
      <param-name>sources_query</param-name>
      <param-value>http://localhost:8080/jbrowse/das2/ensembl/genome/sources?type=Chromosome</param-value>
      </init-param>
      <init-param>
      <param-name>das1_sources_query</param-name>
      <param-value>http://www.dasregistry.org/das1/sources</param-value>
      </init-param>
      <init-param>
      <param-name>renewal_rate_minutes</param-name>
      <param-value>1440</param-value>
      </init-param>
      <init-param>
      <param-name>renewal_delay_minutes</param-name>
      <param-value>1440</param-value>
      </init-param>
      </servlet>
      <servlet-mapping>
      <servlet-name>EnsemblDasProxy</servlet-name>
      <url-pattern>/das2/ensembl/genome/*</url-pattern>
      </servlet-mapping>
  -->

  <session-config>
    <session-timeout>
      30
    </session-timeout>
  </session-config>
  <mime-mapping>
    <extension>json</extension>
    <mime-type>application/json</mime-type>
  </mime-mapping>
  <display-name>ApolloTrellis</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
